table.intro {
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	width: 780px;
	}
table.intro2 {
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	width: 350px;
	}
table.intro2 td {
	padding: 0px 10px 10px 10px;
}
table.square {
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border-spacing: 10px 10px;
	padding-left: 20px;
	}
td.link {
	background-color: white;
	vertical-align: top;
	border: 1px dashed #C0D9D9;
	}
td.link a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-style: none;
	color: black;
	border: 0px;
	}
td.link:hover {
	background-color: #C0D9D9;
	}
td.top {
	padding-top: 20px;
	}
td.top2 {
	padding: 0px 20px 20px 20px;
	}
td.child2 {
	text-align: left;
	}
table.install {
	margin-top: 10px;
}
table.install img {
	padding-top: 20px;
}
table.install td {
	padding-left: 10px;
}
h3, p { 
	margin-bottom: 0px; 
	padding-bottom: 0px; 
	}
.hover {
	font-weight: bold;
	border-bottom: 1px dashed #999;
	display: inline;
	}
.code {
	background-color: #C0D9D9;
	border: 1px dashed #999;
	padding: 10px;
	margin-top: 5px;
}